.social-icon ul {
    llist-style: none;
    margin: 0;
    padding: 0;
}

.social-icon li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.social-icon {
    padding-bottom: 10px;
}

.friend-reference img {
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 5px;
}

.friend-reference a {
    color: #404040;
}

.reference-padding {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.post-button {
    margin-top: .5em;
    text-align: right;
}

.post-button a {
    font-size: 0.8rem;
}
