<link rel="stylesheet" type="text/css" href="css/fonts.css" />
 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p size="20">Hi, I'm Michael, a student at the Unversity of Alberta,
                            major in Computing Science,
                        and I'm learning to be an awesome programmer.</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>
