<link rel="stylesheet" type="text/css" href="css/fonts.css" />
 <!-- Post Section -->
    <section id="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Post</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <ul>
                    {% for post in site.posts %}
                        <li>
                            <span>{{ post.date | date_to_string}}</span>
                            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
