<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}

    <!-- Post Page Header -->
    <div class="my-post-header success">
        <div class="container text-center">
            <h2>{{ page.title }}</h2>
            <span>{{ page.date | date_to_string }}</span>
        </div>
    </div>

    <!-- Post Page Body (Content) -->
    <div class="container">
        <div class="my-post-content">
            {{ page.content }}
        </div>
    </div>

    <div class="container">
        {% include comments.html %}
    </div>

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
