{% include css/bootstrap.min.css %}
{% include css/main.css %}

.my-post-header {
    background-color: #18bc9c;
    padding: 120px 0 30px 0;
    color: #fff
}

.my-post-content {
    padding: 50px 0;
}
